## alias..
alias ll='ls -lGaf'
alias help='tldr'
alias top='sudo htop'
alias cat='bat'
alias ping='prettyping --nolegend'
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"


## handy functions
function findPort(){
 lsof -nP -i4TCP:$1 | grep LISTEN
}
